.grow {
  transition: all .1s ease-in-out;
}
.grow:hover {
  transform: scale(1.2);
}

.rotate {
  transition: all .2s;
}

.rotate:hover {
  -webkit-animation: wiggle 2s infinite; /* Safari 4+ */
  -moz-animation:    wiggle 2s infinite; /* Fx 5+ */
  -o-animation:      wiggle 2s infinite; /* Opera 12+ */
  animation:         wiggle 2s infinite; /* IE 10+, Fx 29+ */
}

@keyframes wiggle {
  25% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}

.dropShadowHover:hover {
  box-shadow: black 0px 0px 0px;
    transition: all .2s ease-in-out;
}

.dropShadowHover:hover {
  box-shadow: black 0px 0px 100px;
}
