.grow {
  transition: all .1s ease-in-out;
}
.grow:hover {
  transform: scale(1.2);
}

.dropShadowHover:hover {
  box-shadow: black 0px 0px 0px;
    transition: all .2s ease-in-out;
}

.dropShadowHover:hover {
  box-shadow: black 0px 0px 100px, black 0px 0px 100px;

  border-radius: 16px;
}

.galleryImage {
  object-fit: cover;
  cursor: pointer;
  width: 225px;
  height: 225px;
}
.galleryImage:hover {
  width: 225px;
  max-height: 500px;
}