html * {
  font-family: 'Permanent Marker', cursive;
}

.nav-link {
  transition-duration: 0.2s;
  cursor: pointer;
  opacity: 0.5;
  color: inherit;
  outline: none;
  text-decoration: none;
}

.nav-link:hover {
  opacity: 1;
  text-decoration: none;
}

.nav-link:focus {
  opacity: 1;
}
