html * {
  font-family: 'Permanent Marker', cursive;
}

a {
  transition-duration: 0.2s;
  opacity: 0.5;
  color: inherit;
  outline: none;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

a:focus {
  opacity: 1;
}
